*{
    margin: 0;
    padding: 0;
}

.hero {
    
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/remise.jpg);
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
}

.texte {
    color: rgb(254, 94, 79);
}

.hero-text a {
    color: #fff;
}


/*On diminue la taille sur les mobile et les tablettes */
@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }
    hero-text h5 {
        font-size: 1rem;
    }

    .btn-outline-primary {
        /* Personnalisez le style ici pour les petits écrans */
        background-color: rgb(7, 119, 210); /* couleur de fond */
        border-color: transparent; /* supprimer la bordure */
    }
}

.product-card {
    transition: transform 0.3s ease;
}
.product-card:hover {
    transform: scale(1.05);
}



